{% extends "base.html" %}
{% load shop_tags %}
{% load static %}
{% block title %}Main Page{% endblock %}
{% block content %}

<div>
    <div class="relative">
        <img src="{% static 'img/0001-5941814244047644441.png' %}" alt="background_image" class="w-full">
        <img src="{% static 'img/Picsart_24-09-12_21-06-15-175.png' %}" alt="main_logo" class="absolute lg:w-72 lg:h-72 lg:top-16 lg:left-16 sm:top-10 sm:left-10 sm:w-52 sm:h-52 w-20 h-20 top-4 left-4 shadow-2xl p-0 rounded-full shadow-zinc-900 animate-rotate-y animate-twice">
        <div class="w-full md:h-20 h-10 backdrop-blur-md content-center absolute bottom-0">
            <ul class="flex w-10/12 mx-auto md:justify-around justify-between">
                <li class="justify-items-start flex items-center md:gap-3 gap-1">
                    <div class="text-left md:text-base text-[12px]">
                        <h3 class="text-zinc-100 font-semibold">PAYMENT</h3>
                        <p class="text-zinc-500 lg:block hidden">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="text-white md:text-4xl text-sm rounded-full text-center font-semibold content-center">1</div>
                </li>
                <li class="justify-items-start flex items-center md:gap-3 gap-1">
                    <div class="text-left md:text-base text-[12px]">
                        <h3 class="text-zinc-100 font-semibold">DELIVERY</h3>
                        <p class="text-zinc-500 lg:block hidden">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="text-white md:text-4xl text-sm rounded-full text-center font-semibold content-center">2</div>
                </li>
                <li class="justify-items-start flex items-center md:gap-3 gap-1">
                    <div class="text-left md:text-base text-[12px]">
                        <h3 class="text-zinc-100 font-semibold">SELECT ITEM</h3>
                        <p class="text-zinc-500 lg:block hidden">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="text-white md:text-4xl text-sm rounded-full text-center font-semibold content-center">3</div>
                </li>
                <li class="justify-items-start items-center md:gap-3 gap-1 md:flex hidden">
                    <div class="text-left md:text-base text-[12px]">
                        <h3 class="text-zinc-100 font-semibold">GOT YOUR ITEM</h3>
                        <p class="text-zinc-500 lg:block hidden">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="text-white md:text-4xl text-sm rounded-full text-center font-semibold content-center">4</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="w-full mx-auto h-96 flex md:flex-row flex-col justify-around md:gap-5 gap-2 bg-gradient-to-b from-orange-500 via-pink-700 to-black via-10% items-center">
    <div class="relative lg:w-1/4 md:w-2/5 w-2/3">
        <img src="{% static 'img/0001-2314164727688525794.png' %}" alt="black_car" class="brightness-50">
        <div class="absolute text-left md:top-8 md:left-8 top-3 left-3 md:text-xl text-sm">
            <h3 class="text-white">INTERIOR</h3>
            <p class="text-white font-thin">ACCESSORIES</p>
        </div>
    </div>
    <div class="relative lg:w-1/4 md:w-2/5 w-2/3">
        <img src="{% static 'img/0001-6744580862720651687.png' %}" alt="top_view" class="brightness-50">
        <div class="absolute text-left md:top-8 md:left-8 top-3 left-3 md:text-xl text-sm">
            <h3 class="text-white">EXTERIOR</h3>
            <p class="text-white font-thin">ACCESSORIES</p>
        </div>
    </div>
</div>

{% endblock %}
























