{% extends "base.html" %}
{% block title %}{{ product.title }}{% endblock %}
{% load humanize %}
{% block head %}
    <style>
        section:hover > div:not(:hover){
            filter: blur(0.5rem);
        }
    </style>
{% endblock %}
{% block content %}

    <section class="flex justify-evenly gap-y-4 my-4 flex-wrap">
        {% for img in product.images.all %}
            <div class="w-80 h-72 rounded-lg overflow-hidden cursor-pointer transition-all ease-in-out delay-200 hover:scale-110 hover:shadow-2xl hover:shadow-zinc-600">
                <img src="{{ img.image_file.url }}" alt="{{ img.title }}" class="w-full h-full object-cover aspect-[2/1]">
            </div>
        {% endfor %}
    </section>

    <div class="grid grid-cols-2 w-11/12 mx-auto mt-12">
        <div class="w-full">
            <h1 class="text-3xl font-bold">{{ product.title }}</h1>
        </div>

        <div class="grid grid-cols-2 gap-6 bg-zinc-500 p-12 rounded-xl">
            <div class="w-full text-2xl font-semibold">
                <p>موجودی : <span>{{ product.inventory }}</span></p>
            </div>

            <div class="mr-12">
                <button type="button" class="font-bold bg-transparent transition-all ease-in-out duration-200 p-3 rounded-xl bg-zinc-400 hover:text-white hover:bg-black" id="add-cart">اضافه کردن به سبد خرید</button>
            </div>
    
            <div class="w-full">
                <ul class="list-disc text-xl">
                    {% for f in product.features.all %}
                        <li>{{ f.name }}: {{ f.value }}</li>
                    {% endfor %}
                </ul>
            </div>
    
            <div class="mr-14">
                {% if product.off == 0 %}
                    <p class="text-2xl text-zinc-700 font-semibold group-hover:text-green-600">{{ product.price|intcomma:0 }} تومان</p>
                {% elif product.off != 0 %}
                    <p class="line-through decoration-red-600 decoration-4 m-0 text-2xl font-semibold">{{ post.price|intcomma:0 }} تومان</p>
                    <p class="m-0 text-xl font-medium group-hover:text-green-600">{{ product.new_price|intcomma:0 }} تومان</p>
                {% endif %}
            </div>
        </div>

        <div class="w-2/3 -mt-40">
            <p>{{ product.description }}</p>
        </div>

    </div>

    <div class="w-11/12 mx-auto my-12">
        <div class="mr-10 text-xl">
            {{ comments.count }} کامنت
        </div>
    
        <div>
            {% for cm in comments %}
            <div  class="bg-zinc-700 text-gray-300 w-1/3 h-40 rounded-2xl my-6 mr-10 flex flex-col gap-5 shadow-xl shadow-gray-800/40 text-xl">
                <div class="mr-10 mt-3">
                    {{ cm.name }}
                </div>
                <div class="mr-10">
                    {{ cm.body | linebreaks }}
                </div>
            </div>
            {% empty %}
                <div class="mr-10 text-xl">
                    کامنتی وجود ندارد!
                </div>
            {% endfor %}
        </div>
    
        <form method="post" action="{% url 'shop:product_comment' product.id  product.slug %}" class="flex flex-col w-1/2 bg-zinc-400 mt-4 mb-12 mr-8 gap-6 shadow-xl shadow-gray-900/30 p-12 rounded-lg">
            {% csrf_token %}
            <div class="flex items-center mr-14">
                <label for="id_name" class="rounded-r-full bg-zinc-800 text-white p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                    </svg>  
                </label>
                <input type="text" name="name" maxlength="100" required id="id_name" placeholder="نام" class="rounded-l-full bg-zinc-700 border-none placeholder-gray-300 focus:ring-0">
            </div>
                
            <div class="flex items-center">
                <label for="id_body" class="rounded-r-full bg-zinc-800 text-white p-9">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                    </svg> 
                </label>
                <textarea name="body" cols="40" rows="10" required="" id="id_body" placeholder="دیدگاه" class="w-full h-24 rounded-l-full bg-zinc-700 border-none placeholder-gray-300 focus:ring-0"></textarea>
            </div>
    
            <input type="submit" value="ثبت" class="bg-zinc-800 text-white rounded-lg w-20 hover:shadow-lg hover:shadow-gray-800/50 mr-4 hover:cursor-pointer p-2">
        </form>
    </div>

{% endblock %}