{% extends "base.html" %}
{% block title %}سبد خرید{% endblock %}
{% load static %}
{% block content %}

    <div class="w-full h-36 flex items-center justify-center">
        <h2 class="text-5xl font-medium animate-fade-down animate-once animate-duration-1000 animate-ease-linear">سبد خرید</h2>
    </div>

    <div class="w-full h-96 bg-zinc-700 flex gap-12">
        {% for item in cart %}
            <a href="{% url 'shop:product_detail' item.product.id item.product.slug %}">
                <img width="100" height="100" alt="" class="img-fluid" src="{{ item.product.images.first.file.url }}">
            </a>
        {% endfor %}
    </div>

    

{% endblock %}