{% extends 'base.html' %}
{% load static %}
{% block title %}تغییر پسورد{% endblock %}
{% block content %}



<div class="w-full h-screen relative m-0 flex justify-center bg-black"> 
    
    <h1>تغییر پسورد</h1>
    
    <div class="w-1/4 h-[750px] rounded-xl bg-zinc-500/30 absolute mt-32 backdrop-blur-sm">
        <form method="post" class="w-full flex flex-col items-center text-white gap-12 mt-12">
            {% csrf_token %}
            <div>
                <label for="id_old_password">گذرواژه قدیمی :</label>
                <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" class="rounded-l-full w-4/5 bg-zinc-700 border-none p-4 placeholder-gray-300 focus:ring-0 shadow-lg shadow-zinc-700/50">
            </div>
        
            <div>
                <label for="id_new_password1">گذرواژه جدید :</label>
                <input type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1" class="rounded-l-full w-4/5 bg-zinc-700 border-none p-4 placeholder-gray-300 focus:ring-0 shadow-lg shadow-zinc-700/50">
        
                <span class="helptext" id="id_new_password1_helptext"></span>
            </div>
    
            <ul class="gap-3 flex flex-col list-outside list-disc">
                <li>گذرواژه شما نمیتواند شبیه سایر اطلاعات شما باشد.</li>
                <li>گذرواژه شما باید حداقل از ۸ حرف تشکیل شده باشد.</li>
                <li>گذرواژه شما نمیتواند یک گذرواژه معمول باشد.</li>
                <li>گذرواژه شما نمیتواند کلا عدد باشد.</li>
            </ul>
        
            <div class="mr-5">
                <label for="id_new_password2">تایید گذرواژه جدید :</label>
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="rounded-l-full w-4/5 bg-zinc-700 border-none p-4 placeholder-gray-300 focus:ring-0 shadow-lg shadow-zinc-700/50">
            </div>
            <input type="submit" value="تغییر پسورد" class="bg-zinc-800 p-4 mt-2 rounded-lg w-24 hover:bg-zinc-900 hover:cursor-pointer hover:shadow-xl hover:shadow-zinc-500/50">
        </form>
    </div>
</div>

{% endblock %}








