{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}

<div class="w-full h-96 relative m-0 flex justify-center bg-black"> 
    
    <div class="w-1/4 h-[250px] flex flex-col items-center rounded-xl bg-zinc-500/30 absolute mt-32 backdrop-blur-sm">
        <h2 class="text-white mt-4">ایمیل خود را وارد کنید</h2>
        <form method="post" class="w-full flex flex-col items-center text-white gap-12 mt-12">
            {% csrf_token %}
            
            <div class="col-span-2 w-3/4 flex items-center">
                <label for="id_email" class="rounded-r-full bg-zinc-800 p-2 shadow-lg shadow-zinc-700/50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
                    </svg>
                </label>
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" class="w-full rounded-l-full bg-zinc-700 border-none placeholder-gray-300 focus:ring-0 shadow-lg shadow-zinc-700/50">
            </div>

            <input type="submit" value="ارسال" class="bg-zinc-800 p-3 mt-2 rounded-lg w-20 hover:bg-zinc-900 hover:cursor-pointer hover:shadow-xl hover:shadow-zinc-500/50">
        </form>
    </div>
</div>

{% endblock %}



<div class="w-full h-screen relative m-0 flex justify-center bg-black"> 
    
    <h2>ایمیل خود را وارد کنید</h2>
    
    <div class="w-1/4 h-[750px] rounded-xl bg-zinc-500/30 absolute mt-32 backdrop-blur-sm">
        <form method="post" class="w-full flex flex-col items-center text-white gap-12 mt-12">
            {% csrf_token %}
            
            <div>
                <label for="id_email">Email:</label>
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
            </div>

            <input type="submit" value="ارسال">
        </form>
    </div>
</div>